<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="./main.css">
    </head>

    <body>

        <header>
            <div class="logo">
                Logo
            </div>
            <div class="title">
                Title
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li> <a href="#">Body</a></li>
                    <li><a href="#">Footer</a></li>
                </ul>
            </div>
        </header>

        <main>
            <section class="form-section">
                <form class="blog-entry-text" onsubmit="return Client.checkStatement(event)">
                    <input id="text-input" type="text" name="input" value="" placeholder="Enter Text">            
                    <button onclick="return Client.checkInput(event)">SubmitInput</button>
                </form>
                <form class="blog-entry-url">
                    <input id="text-url" type="text" name="input" value="" placeholder="Enter Text">            
                    <button onclick="return Client.checkUrl(event)">SubmitURL</button>
                </form>
            <section>

            <section class="form-results">
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
        </script>
    </body>
</html>
