<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="./main.css">
    </head>

    <body>

        <header>
            <div class="logo">
                Logo
            </div>
            <div class="title">
                Title
            </div>
            <div class="menu">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="blog-entry" onsubmit="return Client.checkStatement(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input id="title" type="text" name="input" value="" onblur="onBlur()" placeholder="Title">
                    <textarea placeholder="Enter your thoughts here">

                    </textarea>
                    <input type="submit" name="" value="submit" onclick="return Client.checkStatement(event)" onsubmit="return Client.checkStatement(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
            </script>
    </body>
</html>
