@import 'variables';

.blog-entry {
    background-color: $color-e;
    border: 1px black solid;
    border-radius: 3px;
    padding: 2.5em;
    display: flex;
    flex-direction: column;

    input{
        &:hover{
            border-color: $color-c;
        }
        margin: 5px;
        box-sizing: border-box;
    }
}