@import 'variables';


header {
    color: $color-d;
    height: 20vh;
    min-height: 100px;
    background-color: $color-a;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;

    .title{
        font-size: 2.0em;
    }
}
